
body {
	background-image:url("img/bg.jpg");
	font-family: 'Raleway';
}

#qNum {
text-align:center;

}

#response {
	display:inline-block;
	position:relative;
	bottom:20%;
	left:10%;
	font-size:30px;
}
#banner {
	height:150px;
	width:100%;
}

#userPoints {
	float:left;
	height:200px;
	width:15%;
	background-color:#E7E7E7;
	
}

#qBox {
	position:relative;
	display:inline-block;
	left:15%;
	height:595px;
	width:50%;
	background-color:#E7E7E7;
}

.boxHead {
	height:50px;
	width:100%;
	background-color:#3E5EFF;
	position:relative;
	color:white;
	top:-16px;
	text-align:center;

}

.imgCent {
	position:relative;
	left:40%;
	height:100px;

}

.tipText {
	text-align:center;
	font-size:10px;
}

#startBtn {
	height:50px;
	width:100px;
	color:white;
	background-color:#3E5EFF;
	position:relative;
	left:85%;
	top:10px;
	text-align:center;
	font-size:25px;
	display:inline-block;
	cursor:pointer;

}

#qField {
	font-size:30px;
}

#ans {
	background-color:blue;
	margin-top:10px;
	border-radius:5px;
	font-size:20px;
	color:white;
	width:90%;
	cursor: pointer;
	margin-left:10px;
	}


#resultScreen {
	background-repeat:no-repeat;
	height:210px;
	width:40%;
	background-color:#E7E7E7;
	z-index:1000;
	display:none;
	position:absolute;
	left:32%;
	box-shadow: 20px 20px 15px #7B7B7B;
	padding-left:10px;
	padding-top:10px;
	border:3px solid black;
	border-radius:5px;
	top:320px;
}

#nextQ {
	height:50px;
	width:100px;
	color:white;
	background-color:#3E5EFF;
	position:relative;
	left:83%;
	top:-85px;
	text-align:center;
	font-size:25px;
	cursor:pointer;
}

#text {
	position:relative;
	bottom:40px;
}

#winGraphic {
	display:none;
}